{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "rules": {
    "no-console": "off",
    "import/prefer-default-export": "off",
    "max-len": ["error", { "code": 120 }],
    "arrow-body-style": ["error", "always"],
    "import/no-unresolved": "off", // 절대 경로 허용
    "import/extensions": [1, "never"]
  },
  "extends": [
    "eslint-config-airbnb-base",
    "plugin:@typescript-eslint/eslint-recommended"
  ]
}